*{
    padding: 0;
    margin: 0 auto;
}

a{
    text-decoration: none;
    font-size: 17px;
}

p{
    font-size: 17px;
}

a:hover{
    color:#1b8e8e !important;
}

:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
    scroll-behavior: smooth; /*Controlar el comportamiento del scroll, para que el bajar sea
    suave y sutil*/
}

.box{
    width: 550px;
    background-color: var(--light);
    padding: 25px 25px 15px 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto; 
}

body{

    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--dark);
    margin-top: 2%;
    margin-bottom: 2%;

}

.bg{
    background-color: #1a8897;
    background-image: linear-gradient(to right, rgba(79, 172, 254, 0.502) 0%, rgba(0, 241, 254, 0.502) 100%),
    url(../img/3409297.jpg);
}

.bg-dark-x {
    background-color: #e6eff1
}

.btn-personal{
    min-height: 3.135rem;
    line-height: initial;
    background-color: #54a4a4;
    color: var(--light);
}

.btn-personal:hover{
    min-height: 3.135rem;
    line-height: initial;
    background-color: #2e7272;
    color: var(--light);
}

.text{
    text-decoration-color: blue;
}

