<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/stylePrincipal.css">
    <link rel="icon" href="img/icon.png">

    <title>Motion Pose MP</title>

  </head>
    <body>
        <!--Inicio Header-->
    <header class="header" id="inicio">

        <!--Inicio NavBar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a>
                    <span class="text-personal"> Motion</span> <span class="text-personal-2"> Pose MP</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mis proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mi cuenta</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Compras</a>

                        <ul class="dropdown-menu bg-personal" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Suscripción VIP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Suscripción Herramientas</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Suscripción Shaders</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ayuda</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
        <!--Final NavBar-->
    </header>
    <!--Final Header-->

    <!--Inicio Main-->
    <main>
        <!--Inicio Galería-->
        <section class=".galeria">
        <div class="contenedor">
        <h1 class="titulo-captura">¿Como quieres capturar tu mano?</h1>
        <div class="card-grid">
            <div class="card">
                <a href="#">
                    <img src="/img/camara-de-video.png" alt="video" class="card-image">
                    <div class="card-body">
                        <h5 class="card-title">Video</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/camara-fotografica.png" alt="camara" class="card-image">
                    <div class="card-body">
                        <h5 class="card-title">Imagen</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/tocar.png" alt="Animacion" class="card-image">
                    <div class="card-body">
                        <h5 class="card-title">Animación</h5>
                    </div>
                </a>
            </div>
            </div>
            </div>
        </section>
        <!--Fin Galería-->

        <!--Inicio Banner-->
        <section class="banner" id="inicio">
            <div class="contenedor head"></div>
        </section>
        <!--Fin Banner-->

        <!--Inicio Preguntas Frecuentes-->
        <section class="preguntasFrec" id="servicio">
            <h2 class="subtitulo">Preguntas Frecuentes</h2>
            <p class="subtituloPreg">Para más información contáctanos <a href="#">aquí</a></p>
            <div class="contenedor-servicio">
                <img src="/img/manoAnimacion.png" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>¿Como funciona?</h3>
                        <p>
                            Otorgamos distintas maneras de capturar la mano para la comodidad del usuario. Eliga como quiere exportar su proyecto, como video, imagen o animación.
                        </p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>¿Como es la captura?</h3>
                        <p>
                            Debe posar su mano dentro del marco indicado, nuestra aplicacion capturara los puntos de su mano siempre y cuando mantenga su mano dentro del marco.
                        </p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>¿Como es la interacción?</h3>
                        <p>
                            Al momento de capturar su mano en tiempo real podra visualizar el modelamiento en 3D, el cual es posible interactuar moviendolo y colocandolo al angulo que desee.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--Fin Preguntas Frecuentes-->
    </main>

        <!--Inicio Footer-->
        <footer class="text-white pt-4 pb-4" >
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left">
                    
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">

                        <h5 class="text-uppercase mb-4 front-weight-bold text-personal">Nosotros</h5>
                        <hr class="mb-4">
                        <p>
                            Nuestra organización DMC es apasionada a la tecnología y buscamos constantemente nuevas formas de aprovecharla para mejorar la vida de las personas.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                        <h5 class="text-uppercase mb-4 front-weight-bold text-personal">Contacto</h5>
                        <hr class="mb-4">
                        <p>
                            <a href="#" class="text-reset"><i class="bi bi-envelope"></i> motionposemp@gmail.com</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

                        <h5 class="text-uppercase mb-4 front-weight-bold text-personal">Redes sociales</h5>
                        <hr class="mb-4">
                        <li class="d-flex justify-content-between">
                            <a href="#" class="text-reset"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="text-reset"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="text-reset"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="text-reset"><i class="bi bi-github"></i></a>
                        </li>
                    </div>

                    <hr class="mb-4">

                    <div class="text-center mb-2">
                        <p>
                            <p>© 2023 Todos los derechos reservados</p>
                        </p>
                        <p>
                            <a href="#" class="text-reset"></i>Política de privacidad</a> <a href="#" class="text-reset"></i>| Condiciones</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Final Footer-->

        <!--Inicio Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <!--Final Scripts-->
    </body>
</html>